USE [master]
GO
/****** Object:  Database [PMAMASTER]    Script Date: 1/22/2016 12:06:58 PM ******/
CREATE DATABASE [PMAMASTER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PMAMASTER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.PMAWEB\MSSQL\DATA\PMAMASTER.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PMAMASTER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.PMAWEB\MSSQL\DATA\PMAMASTER_log.ldf' , SIZE = 9216KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PMAMASTER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PMAMASTER]
GO
/****** Object:  Table [dbo].[ClientAccount]    Script Date: 1/22/2016 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClientAccount](
	[accountId] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[accountName] [varchar](255) NULL,
	[accountNumber] [varchar](255) NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClientAnswer]    Script Date: 1/22/2016 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClientAnswer](
	[answerId] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[answer] [varchar](255) NOT NULL,
	[userId] [numeric](19, 0) NOT NULL,
	[question_questionId] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[answerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClientRole]    Script Date: 1/22/2016 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClientRole](
	[roleId] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[authority] [varchar](255) NULL,
	[userId] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PotentialQuestion]    Script Date: 1/22/2016 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PotentialQuestion](
	[questionId] [numeric](19, 0) NOT NULL,
	[question] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WebClient]    Script Date: 1/22/2016 12:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WebClient](
	[userId] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[accountNonExpired] [tinyint] NOT NULL,
	[accountNonLocked] [tinyint] NOT NULL,
	[credentialsNonExpired] [tinyint] NOT NULL,
	[enabled] [tinyint] NOT NULL,
	[masterClientName] [varchar](255) NULL,
	[masterClientNumber] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ClientAnswer]  WITH CHECK ADD  CONSTRAINT [FK955C2F8992624DD4] FOREIGN KEY([userId])
REFERENCES [dbo].[WebClient] ([userId])
GO
ALTER TABLE [dbo].[ClientAnswer] CHECK CONSTRAINT [FK955C2F8992624DD4]
GO
ALTER TABLE [dbo].[ClientAnswer]  WITH CHECK ADD  CONSTRAINT [FK955C2F89FFCF780D] FOREIGN KEY([question_questionId])
REFERENCES [dbo].[PotentialQuestion] ([questionId])
GO
ALTER TABLE [dbo].[ClientAnswer] CHECK CONSTRAINT [FK955C2F89FFCF780D]
GO
ALTER TABLE [dbo].[ClientRole]  WITH CHECK ADD  CONSTRAINT [FKB886E70192624DD4] FOREIGN KEY([userId])
REFERENCES [dbo].[WebClient] ([userId])
GO
ALTER TABLE [dbo].[ClientRole] CHECK CONSTRAINT [FKB886E70192624DD4]
GO
USE [master]
GO
