<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
              value="[%d{ISO8601}] %-5p %c %m %n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>
 
    <!-- Declare the ConsoleAppender -->
    <appender name="STDERR"  class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
              value="[%d{ISO8601}] %-5p %c %m %n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>
 
    <!-- Declare the DailyRollingFileAppender -->
    <appender name="ROLLING" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File" value="${catalina.home}/log4j/pmaweb/pmaweb.log"  />
      <param name="DatePattern" value="'.'yyyy-MM-dd" />
         <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n" />
         </layout>
       <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
       </filter>
    </appender>
 
<!-- Samples of commonly used packages and how to limit their logging to STDOUT -->

<!-- 
      <logger name="org.hibernate" additivity="false">
            <level value="WARN" />
        <appender-ref ref="ROLLING"/>
      </logger>
 
      <logger name="org.apache.velocity" additivity="false">
            <level value="WARN" />
        <appender-ref ref="ROLLING"/>
      </logger>
-->
      <logger name="org.springframework.web" additivity="false">
            <level value="WARN" />
        <appender-ref ref="STDOUT"/>
      </logger>
                    
      <logger name="freemarker" additivity="false">
            <level value="INFO" />
        <appender-ref ref="STDOUT"/>
      </logger>
<!--       <logger name="org.hsqldb" additivity="false"> -->
<!--             <level value="DEBUG" /> -->
<!--         <appender-ref ref="STDOUT"/> -->
<!--       </logger> -->
      

    <!-- setup log4j's root logger -->
    <!-- levels are DEBUG, INFO, WARN, ERROR, FATAL, all  -->
    <root>
        <level value="WARN" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="ROLLING"/>
    </root>
</log4j:configuration>